input{
    height: 35px;
    background-color: rgba(218, 214, 214, 0.749);
    cursor: pointer;
    border: 1.5px solid rgb(50, 109, 73);
    padding-left: 10px;
    transition: 0.3s;
    outline: none;

}
input:hover{transform: scale(1.015);}
input:focus{border: 2px solid rgb(50, 109, 73);}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.btn__order{height: 35px; background-color: rgb(68, 158, 103); transition: 0.3s; outline: none; border: none; }
.btn__order:hover{color: white;
background-color: rgb(57, 126, 84); font-weight: 600;}

.form__error{ color: rgb(197, 12, 12);}