.container__nav{
    display: flex;
    background-color: #ded8d0;
}
.logue{
    width: 240px;
    align-self: right;
    margin: 10px;
}

.nav__link{
    color: rgb(36, 63, 38);
    transition: 0.5s;
    
}

.nav__link:hover{
    transform: translate(0px,-6px);

}
