
.anchor__cart{color: black;transition: 0.5s;  overflow: hidden;}

.anchor__cart:hover{
 transform: scale(1.05);
}
.div__container--img-message{
    min-height: 80vh;
}

.div__container--img{
    background-image: url(../public/img/icon-message.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.anchor__cart{
    font-size: 18px !important;
    align-self: center;
    padding-right: 130px;
}
.div__container--img-message h2{
    font-size: 22px !important;
    align-self: center;
    padding-right: 130px;
}

.btn__empty-cart{
    height: 35px;
    border:none;
    background-color: rgb(188, 191, 192);
}

.btn__empty-cart:hover{
    background-color: rgb(195, 197, 197);
}

.btn__close-order{
    background-color: rgb(68, 214, 247);
    height: 35px;
    border: none;
}

.btn__close-order:hover{
    background-color: rgb(90, 219, 248);
}

@media screen and (max-width: 515px) and (min-width: 350px){
    .anchor__cart{
        font-size: 14px !important;
        padding-right: 110px;
    }
    .div__container--img-message h2{
        font-size: 16px !important;
        padding-right: 110px;
        
    }
}
